/Black.class
/Board.class
/CellEntry.class
/Checkers.class
/Game.class
/Human.class
/Move.class
/MoveDir.class
/Oracle.class
/Owner.class
/Player.class
/Robot.class
/UserInteractions.class
/White.class
